@tailwind base;
@tailwind components;
@tailwind utilities;

/* My custom css variables */
:root {
  --color-background: #f9f9f9;
  --color-foreground: #333;
  --color-primary: #3490dc;
  --color-secondary: #6574cd;
  --color-accent: #38c172;
  --color-neutral: #f8fafc;
  --color-borders: #9ca3af;
}

:root.dark {
  --color-background: #1a202c;
  --color-foreground: #f9f9f9;
  --color-primary: #63b3ed;
  --color-secondary: #a3bffa;
  --color-accent: #51d88a;
  --color-neutral: #2d3748;
  --color-borders: #4a5568;
}

@layer base {
  body {
    @apply bg-background font-roboto text-base leading-7 text-foreground antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}
